<%= form_with(model: @exercise_form, url: workout_exercises_path) do |f| %>
  <%= f.label :exercise_type_id %>
  <%= f.collection_select :exercise_type_id, ExerciseType.all, :id, :name, include_blank: 'Add exercise...' %>
  <p>search or type to add a new exercise to this workout</p>
  <%= f.submit 'Add Exercise', class: "btn-primary" %>
<% end %>
<%= link_to 'Create a new type of exercise', new_exercise_type_path %>

