<%= content_for :page_title, 'View Workout' %>
<h1>Workout Page</h1>
<p><%= @workout.id %></p>

<h2>Cardio Exercises</h2>
<% @cardio_exercises.each do |exercise| %>
  <p><%= exercise.inspect %></p>
  <%= link_to 'View', workout_cardio_exercise_path(@workout, exercise) %>
<% end %>


<h2>Resistance Exercises</h2>
<% @resistance_exercises.each do |exercise| %>
  <p><%= exercise.inspect %></p>
  <%= link_to 'View', workout_resistance_exercise_path(@workout, exercise) %>
<% end %>
