<!DOCTYPE html>
<html>
  <head>
    <%= page_title %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/meta_tags' %>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
