<!DOCTYPE html>
<html>
  <head>
    <%= page_title %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/meta_tags' %>

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-full min-h-screen font-sans bg-gray-200 box-border">
    <div class="main flex-1 p-4">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  </body>
</html>
